extends layout

block content
	div.jumbotron
		div.container
			h1#case-title
			div.row.case-info
				div.col
					ul#case-info
				div.col
					div#docx-box

	div#case-text.container
		div#front-matter
		div#opinions

	script(type='text/javascript').
		caseId='#{id}';
		fullText='#{fullText}';
		key='#{key}';

	script(src='/javascripts/index.js')
	script(src='/javascripts/fullcase.js')

