extends layout

block content
	h1#case-title
	ul#case-info

	div#case-text
		div#front-matter
		div#opinions

	div.key-box
		| API Key: 
		input.key-field(type='text')

	div#docx-box

	script(type='text/javascript').
		caseId='#{id}';
		fullText='#{fullText}';
		key='#{key}';

	script(src='/javascripts/fullcase.js')

